# Settings

In [8]:
from IPython.core.display   import HTML
display( HTML( '<style>.container { width:100% !important; }</style>') )

In [9]:
pwd

'/Users/home/repos/pa004_health_insurance_cross_sell/health_insurance_cross-sell/health_insurance_app_local'

# API Tester

In [10]:
import requests
import json
import pandas as pd

# loading test dataset (simulating production)
df_test = pd.read_csv('full_test_data.csv', index_col=0) 
df_test = df_test.drop('response', axis=1).copy() #remove "response"
df_test = df_test.sample(10) #sample
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
26265,26266,Male,23,8,152,1,< 1 Year,Yes,0,39191.0,204
66176,66177,Male,53,46,124,1,1-2 Year,No,1,28898.0,77
199789,199790,Male,69,28,26,1,1-2 Year,Yes,0,2630.0,101
79389,79390,Male,63,25,124,1,1-2 Year,Yes,0,2630.0,78
282191,282192,Male,57,11,124,1,1-2 Year,Yes,0,42933.0,36
214978,214979,Female,25,50,152,1,< 1 Year,Yes,0,37656.0,22
362582,362583,Male,25,36,152,1,< 1 Year,No,1,33805.0,218
249368,249369,Male,23,10,152,1,< 1 Year,No,1,2630.0,173
358860,358861,Female,24,47,152,1,< 1 Year,No,1,30530.0,154
373701,373702,Male,71,28,122,1,> 2 Years,Yes,0,33550.0,28

In [11]:
# Builds json
data = json.dumps(df_test.to_dict(orient = 'records'))

In [12]:
#TEST LOCAL API

#API Call
url = 'http://192.168.1.21:5000/predict'  #local
header = {'Content-type': 'application/json'}

r = requests.post( url, data = data, headers = header )
print( 'Status Code {}'.format( r.status_code ))

Status Code 200

In [ ]:
#Put local API to work with "API_handler_test" file on other jupyter notebook, and uncomment below metlhods to debub with following code

#junm to "df_response" below for a full local test

## d1 - data_cleaning

In [6]:
r.json()

[{'id': 103395,
  'gender': 'Male',
  'age': 66,
  'region_code': 47,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 33211.0,
  'days_associated': 93},
 {'id': 80936,
  'gender': 'Male',
  'age': 44,
  'region_code': 50,
  'policy_sales_channel': 156,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 174},
 {'id': 73180,
  'gender': 'Male',
  'age': 42,
  'region_code': 41,
  'policy_sales_channel': 12,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 34202.0,
  'days_associated': 45},
 {'id': 194018,
  'gender': 'Male',
  'age': 38,
  'region_code': 28,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 27912.0,
  'days_associated': 125},
 {'id': 65213,
  'gender': 'Female',
  'age': 21,
  'region_code': 28,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 42364.0,
  'days_associated': 141},
 {'id': 311064,
  'gender': 'Male',
  'age': 58,
  'region_code': 8,
  'policy_sales_channel': 30,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 39921.0,
  'days_associated': 128},
 {'id': 177711,
  'gender': 'Female',
  'age': 29,
  'region_code': 13,
  'policy_sales_channel': 157,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 17597.0,
  'days_associated': 132},
 {'id': 200350,
  'gender': 'Male',
  'age': 58,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 49570.0,
  'days_associated': 219},
 {'id': 349219,
  'gender': 'Female',
  'age': 20,
  'region_code': 47,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 47104.0,
  'days_associated': 77},
 {'id': 69247,
  'gender': 'Male',
  'age': 56,
  'region_code': 11,
  'policy_sales_channel': 120,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 33339.0,
  'days_associated': 216}]

In [8]:
#d1
d1 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d1

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
0,103395,Male,66,47,26,1,1-2 Year,Yes,0,33211.0,93
1,80936,Male,44,50,156,1,1-2 Year,Yes,0,2630.0,174
2,73180,Male,42,41,12,1,1-2 Year,Yes,0,34202.0,45
3,194018,Male,38,28,154,1,1-2 Year,No,0,27912.0,125
4,65213,Female,21,28,26,1,< 1 Year,Yes,0,42364.0,141
5,311064,Male,58,8,30,1,1-2 Year,Yes,0,39921.0,128
6,177711,Female,29,13,157,1,1-2 Year,Yes,1,17597.0,132
7,200350,Male,58,8,26,1,1-2 Year,No,1,49570.0,219
8,349219,Female,20,47,160,1,< 1 Year,Yes,0,47104.0,77
9,69247,Male,56,11,120,1,1-2 Year,No,1,33339.0,216

In [9]:
#compare with:
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
103394,103395,Male,66,47,26,1,1-2 Year,Yes,0,33211.0,93
80935,80936,Male,44,50,156,1,1-2 Year,Yes,0,2630.0,174
73179,73180,Male,42,41,12,1,1-2 Year,Yes,0,34202.0,45
194017,194018,Male,38,28,154,1,1-2 Year,No,0,27912.0,125
65212,65213,Female,21,28,26,1,< 1 Year,Yes,0,42364.0,141
311063,311064,Male,58,8,30,1,1-2 Year,Yes,0,39921.0,128
177710,177711,Female,29,13,157,1,1-2 Year,Yes,1,17597.0,132
200349,200350,Male,58,8,26,1,1-2 Year,No,1,49570.0,219
349218,349219,Female,20,47,160,1,< 1 Year,Yes,0,47104.0,77
69246,69247,Male,56,11,120,1,1-2 Year,No,1,33339.0,216

In [ ]:
#100%
# As long as I'm using test dataset to test, and it's generated after dataPrep, the data on df_test is already with correct names. Production data would be not, and the process would work fine.

## d2 - feature_engineering

In [13]:
#d2
r.json()

[{'id': 202970,
  'gender': 'Male',
  'age': 32,
  'region_code': 28,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 41961.0,
  'days_associated': 34},
 {'id': 308042,
  'gender': 'Female',
  'age': 42,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 32138.0,
  'days_associated': 143},
 {'id': 199982,
  'gender': 'Female',
  'age': 24,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 42787.0,
  'days_associated': 47},
 {'id': 234637,
  'gender': 'Male',
  'age': 46,
  'region_code': 46,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 278},
 {'id': 368445,
  'gender': 'Female',
  'age': 49,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 31800.0,
  'days_associated': 262},
 {'id': 288933,
  'gender': 'Male',
  'age': 40,
  'region_code': 9,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 31309.0,
  'days_associated': 101},
 {'id': 285041,
  'gender': 'Female',
  'age': 24,
  'region_code': 46,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 31123.0,
  'days_associated': 42},
 {'id': 104561,
  'gender': 'Female',
  'age': 23,
  'region_code': 33,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 38539.0,
  'days_associated': 131},
 {'id': 297568,
  'gender': 'Female',
  'age': 70,
  'region_code': 7,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 256},
 {'id': 344759,
  'gender': 'Male',
  'age': 35,
  'region_code': 38,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 2630.0,
  'days_associated': 146}]

In [14]:
#d2
d2 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d2

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
0,202970,Male,32,28,154,1,below_1_year,1,0,41961.0,34
1,308042,Female,42,8,26,1,between_1_2_years,1,0,32138.0,143
2,199982,Female,24,8,26,1,below_1_year,1,0,42787.0,47
3,234637,Male,46,46,124,1,between_1_2_years,1,0,2630.0,278
4,368445,Female,49,28,124,1,between_1_2_years,0,1,31800.0,262
5,288933,Male,40,9,154,1,between_1_2_years,1,0,31309.0,101
6,285041,Female,24,46,152,1,below_1_year,0,1,31123.0,42
7,104561,Female,23,33,152,1,below_1_year,0,1,38539.0,131
8,297568,Female,70,7,26,1,between_1_2_years,1,0,2630.0,256
9,344759,Male,35,38,154,1,between_1_2_years,0,1,2630.0,146

In [15]:
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
202969,202970,Male,32,28,154,1,< 1 Year,Yes,0,41961.0,34
308041,308042,Female,42,8,26,1,1-2 Year,Yes,0,32138.0,143
199981,199982,Female,24,8,26,1,< 1 Year,Yes,0,42787.0,47
234636,234637,Male,46,46,124,1,1-2 Year,Yes,0,2630.0,278
368444,368445,Female,49,28,124,1,1-2 Year,No,1,31800.0,262
288932,288933,Male,40,9,154,1,1-2 Year,Yes,0,31309.0,101
285040,285041,Female,24,46,152,1,< 1 Year,No,1,31123.0,42
104560,104561,Female,23,33,152,1,< 1 Year,No,1,38539.0,131
297567,297568,Female,70,7,26,1,1-2 Year,Yes,0,2630.0,256
344758,344759,Male,35,38,154,1,1-2 Year,No,1,2630.0,146

In [ ]:
#data match, Feature engeneering ok!

## d3 - data_preparation

In [47]:
#d3
r.json()

[{'days_associated': 0.6712802768,
  'health_annual_paid': -0.1146206252,
  'age': 0.1692307692,
  'region_code': 0.1866375413,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.1936258351,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.7370242215,
  'health_annual_paid': 0.2754120499,
  'age': 0.0307692308,
  'region_code': 0.1012264922,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.3534817818,
  'vehicle_prev_insured': 1},
 {'days_associated': 0.9826989619,
  'health_annual_paid': -0.1934421539,
  'age': 0.4307692308,
  'region_code': 0.1866375413,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.2099007173,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.875432526,
  'health_annual_paid': -0.309229466,
  'age': 0.0,
  'region_code': 0.1038510101,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.0570670445,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.9411764706,
  'health_annual_paid': -0.2191144539,
  'age': 0.0461538462,
  'region_code': 0.063505607,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.0102398594,
  'vehicle_prev_insured': 1},
 {'days_associated': 0.4809688581,
  'health_annual_paid': -1.6255606375,
  'age': 0.2,
  'region_code': 0.1866375413,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.0570670445,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.1972318339,
  'health_annual_paid': 0.3478882708,
  'age': 0.4461538462,
  'region_code': 0.1223681843,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.1936258351,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.6920415225,
  'health_annual_paid': -0.3454384695,
  'age': 0.5692307692,
  'region_code': 0.0914179104,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.2099007173,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.3460207612,
  'health_annual_paid': -1.6255606375,
  'age': 0.3538461538,
  'region_code': 0.1038510101,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.0280759757,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.1211072664,
  'health_annual_paid': -0.4551133292,
  'age': 0.0461538462,
  'region_code': 0.1264491777,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.3534817818,
  'vehicle_prev_insured': 1}]

In [48]:
#d3
d3 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d3

,days_associated,health_annual_paid,age,region_code,vehicle_damage,policy_sales_channel,vehicle_prev_insured
0,0.671280,-0.114621,0.169231,0.186638,1,0.193626,0
1,0.737024,0.275412,0.030769,0.101226,0,0.353482,1
2,0.982699,-0.193442,0.430769,0.186638,1,0.209901,0
3,0.875433,-0.309229,0.000000,0.103851,0,0.057067,0
4,0.941176,-0.219114,0.046154,0.063506,0,0.010240,1
5,0.480969,-1.625561,0.200000,0.186638,0,0.057067,0
6,0.197232,0.347888,0.446154,0.122368,1,0.193626,0
7,0.692042,-0.345438,0.569231,0.091418,1,0.209901,0
8,0.346021,-1.625561,0.353846,0.103851,1,0.028076,0
9,0.121107,-0.455113,0.046154,0.126449,0,0.353482,1

In [51]:
#these data neetd to be like x_train (exported right before Feature Selection). Lets import to compare:
x_train = pd.read_csv('../data/x_train.csv', index_col=0)
x_train

,days_associated,health_annual_paid,age,region_code,vehicle_damage,policy_sales_channel,vehicle_prev_insured
338662,0.792388,-0.035741,0.030769,0.116003,0,0.353482,1
255559,0.543253,0.537840,0.030769,0.095707,0,0.353482,1
186485,0.391003,-0.377980,0.046154,0.122368,0,0.209901,0
192350,0.069204,0.074749,0.046154,0.186638,0,0.057067,1
59040,0.709343,-0.474091,0.061538,0.122368,0,0.353482,1
...,...,...,...,...,...,...,...
328338,0.972318,0.058857,0.523077,0.071869,1,0.209901,0
359877,0.152249,0.007163,0.030769,0.186638,1,0.353482,0
212867,0.889273,0.369718,0.230769,0.091418,1,0.193626,0
245992,0.688581,0.249740,0.476923,0.186638,1,0.193626,0
297836,0.795848,-1.625561,0.461538,0.122890,1,0.017459,0

In [ ]:
#100%, data match.

## df_response

In [13]:
#d4
r.json()

[{'id': 26266,
  'gender': 'Male',
  'age': 0.0461538462,
  'region_code': 0.0957073783,
  'policy_sales_channel': 0.3534817818,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 0.5027952781,
  'days_associated': 0.6712802768,
  'score': 0.0706360787},
 {'id': 66177,
  'gender': 'Male',
  'age': 0.5076923077,
  'region_code': 0.1038510101,
  'policy_sales_channel': 0.1936258351,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': -0.0963996958,
  'days_associated': 0.23183391,
  'score': 0.0001549898},
 {'id': 199790,
  'gender': 'Male',
  'age': 0.7538461538,
  'region_code': 0.1866375413,
  'policy_sales_channel': 0.2099007173,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': -1.6255606375,
  'days_associated': 0.3148788927,
  'score': 0.1576454639},
 {'id': 79390,
  'gender': 'Male',
  'age': 0.6615384615,
  'region_code': 0.0412890232,
  'policy_sales_channel': 0.1936258351,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': -1.6255606375,
  'days_associated': 0.2352941176,
  'score': 0.1588809341},
 {'id': 282192,
  'gender': 'Male',
  'age': 0.5692307692,
  'region_code': 0.1160032715,
  'policy_sales_channel': 0.1936258351,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 0.7206314378,
  'days_associated': 0.0899653979,
  'score': 0.2736505866},
 {'id': 214979,
  'gender': 'Female',
  'age': 0.0769230769,
  'region_code': 0.063505607,
  'policy_sales_channel': 0.3534817818,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 0.4134370458,
  'days_associated': 0.0415224913,
  'score': 0.0588495657},
 {'id': 362583,
  'gender': 'Male',
  'age': 0.0769230769,
  'region_code': 0.0804728671,
  'policy_sales_channel': 0.3534817818,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 0.1892555783,
  'days_associated': 0.7197231834,
  'score': 0.0004886968},
 {'id': 249369,
  'gender': 'Male',
  'age': 0.0461538462,
  'region_code': 0.0612710174,
  'policy_sales_channel': 0.3534817818,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': -1.6255606375,
  'days_associated': 0.5640138408,
  'score': 0.0002498825},
 {'id': 358861,
  'gender': 'Female',
  'age': 0.0615384615,
  'region_code': 0.0872843022,
  'policy_sales_channel': 0.3534817818,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': -0.0013947218,
  'days_associated': 0.4982698962,
  'score': 0.0004447594},
 {'id': 373702,
  'gender': 'Male',
  'age': 0.7846153846,
  'region_code': 0.1866375413,
  'policy_sales_channel': 0.0260030765,
  'driving_license': 1,
  'vehicle_age': 'over_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 0.1744110512,
  'days_associated': 0.062283737,
  'score': 0.1461283267}]

In [14]:
d4 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d4.head(60).sort_values('score', ascending=False)

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated,score
4,282192,Male,0.569231,0.116003,0.193626,1,between_1_2_years,1,0,0.720631,0.089965,0.273651
3,79390,Male,0.661538,0.041289,0.193626,1,between_1_2_years,1,0,-1.625561,0.235294,0.158881
2,199790,Male,0.753846,0.186638,0.209901,1,between_1_2_years,1,0,-1.625561,0.314879,0.157645
9,373702,Male,0.784615,0.186638,0.026003,1,over_2_years,1,0,0.174411,0.062284,0.146128
0,26266,Male,0.046154,0.095707,0.353482,1,below_1_year,1,0,0.502795,0.671280,0.070636
5,214979,Female,0.076923,0.063506,0.353482,1,below_1_year,1,0,0.413437,0.041522,0.058850
6,362583,Male,0.076923,0.080473,0.353482,1,below_1_year,0,1,0.189256,0.719723,0.000489
8,358861,Female,0.061538,0.087284,0.353482,1,below_1_year,0,1,-0.001395,0.498270,0.000445
7,249369,Male,0.046154,0.061271,0.353482,1,below_1_year,0,1,-1.625561,0.564014,0.000250
1,66177,Male,0.507692,0.103851,0.193626,1,between_1_2_years,0,1,-0.096400,0.231834,0.000155

In [ ]:
#final dataset could be treated to return all original columns + score, but since just score is needed on GSheets, I kept like this