# Settings

In [30]:
from IPython.core.display   import HTML
display( HTML( '<style>.container { width:100% !important; }</style>') )

In [31]:
pwd

'/Users/home/repos/pa004_health_insurance_cross_sell/health_insurance_cross-sell/health_insurance_app_local'

# API Tester

In [247]:
import requests
import json
import pandas as pd

# loading test dataset (simulating production)
df_test = pd.read_csv('full_test_data.csv', index_col=0) 
df_test = df_test.drop('response', axis=1).copy() #remove "response"
df_test = df_test.sample(10) #sample
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
352975,352976,Female,21,32,160,1,< 1 Year,No,1,32506.0,149
82513,82514,Male,62,30,152,1,1-2 Year,No,1,2630.0,161
333264,333265,Female,23,30,152,1,< 1 Year,No,1,23194.0,295
154128,154129,Male,22,6,160,1,< 1 Year,Yes,1,2630.0,267
163415,163416,Female,52,8,26,1,1-2 Year,No,1,39513.0,241
279835,279836,Male,22,41,152,1,< 1 Year,Yes,1,26521.0,77
350194,350195,Female,30,33,160,1,< 1 Year,No,1,2630.0,86
234005,234006,Male,22,28,153,1,< 1 Year,Yes,0,2630.0,181
185072,185073,Male,22,37,160,1,< 1 Year,No,1,2630.0,133
352725,352726,Female,42,18,26,1,1-2 Year,Yes,0,26959.0,119

In [153]:
# Builds json
data = json.dumps(df_test.to_dict(orient = 'records'))

In [154]:
#TEST LOCAL API

#API Call
url = 'http://192.168.1.21:5000/predict'  #local
header = {'Content-type': 'application/json'}

r = requests.post( url, data = data, headers = header )
print( 'Status Code {}'.format( r.status_code ))

Status Code 200

In [ ]:
#Put local API to work with "API_handler_test" file on other jupyter notebook, and uncomment below metlhods to debub with following code

#junm to "df_response" below for a full local test

## d1 - data_cleaning

In [6]:
r.json()

[{'id': 103395,
  'gender': 'Male',
  'age': 66,
  'region_code': 47,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 33211.0,
  'days_associated': 93},
 {'id': 80936,
  'gender': 'Male',
  'age': 44,
  'region_code': 50,
  'policy_sales_channel': 156,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 174},
 {'id': 73180,
  'gender': 'Male',
  'age': 42,
  'region_code': 41,
  'policy_sales_channel': 12,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 34202.0,
  'days_associated': 45},
 {'id': 194018,
  'gender': 'Male',
  'age': 38,
  'region_code': 28,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 27912.0,
  'days_associated': 125},
 {'id': 65213,
  'gender': 'Female',
  'age': 21,
  'region_code': 28,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 42364.0,
  'days_associated': 141},
 {'id': 311064,
  'gender': 'Male',
  'age': 58,
  'region_code': 8,
  'policy_sales_channel': 30,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 39921.0,
  'days_associated': 128},
 {'id': 177711,
  'gender': 'Female',
  'age': 29,
  'region_code': 13,
  'policy_sales_channel': 157,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 17597.0,
  'days_associated': 132},
 {'id': 200350,
  'gender': 'Male',
  'age': 58,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 49570.0,
  'days_associated': 219},
 {'id': 349219,
  'gender': 'Female',
  'age': 20,
  'region_code': 47,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 47104.0,
  'days_associated': 77},
 {'id': 69247,
  'gender': 'Male',
  'age': 56,
  'region_code': 11,
  'policy_sales_channel': 120,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 33339.0,
  'days_associated': 216}]

In [8]:
#d1
d1 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d1

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
0,103395,Male,66,47,26,1,1-2 Year,Yes,0,33211.0,93
1,80936,Male,44,50,156,1,1-2 Year,Yes,0,2630.0,174
2,73180,Male,42,41,12,1,1-2 Year,Yes,0,34202.0,45
3,194018,Male,38,28,154,1,1-2 Year,No,0,27912.0,125
4,65213,Female,21,28,26,1,< 1 Year,Yes,0,42364.0,141
5,311064,Male,58,8,30,1,1-2 Year,Yes,0,39921.0,128
6,177711,Female,29,13,157,1,1-2 Year,Yes,1,17597.0,132
7,200350,Male,58,8,26,1,1-2 Year,No,1,49570.0,219
8,349219,Female,20,47,160,1,< 1 Year,Yes,0,47104.0,77
9,69247,Male,56,11,120,1,1-2 Year,No,1,33339.0,216

In [9]:
#compare with:
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
103394,103395,Male,66,47,26,1,1-2 Year,Yes,0,33211.0,93
80935,80936,Male,44,50,156,1,1-2 Year,Yes,0,2630.0,174
73179,73180,Male,42,41,12,1,1-2 Year,Yes,0,34202.0,45
194017,194018,Male,38,28,154,1,1-2 Year,No,0,27912.0,125
65212,65213,Female,21,28,26,1,< 1 Year,Yes,0,42364.0,141
311063,311064,Male,58,8,30,1,1-2 Year,Yes,0,39921.0,128
177710,177711,Female,29,13,157,1,1-2 Year,Yes,1,17597.0,132
200349,200350,Male,58,8,26,1,1-2 Year,No,1,49570.0,219
349218,349219,Female,20,47,160,1,< 1 Year,Yes,0,47104.0,77
69246,69247,Male,56,11,120,1,1-2 Year,No,1,33339.0,216

In [ ]:
#100%
# As long as I'm using test dataset to test, and it's generated after dataPrep, the data on df_test is already with correct names. Production data would be not, and the process would work fine.

## d2 - feature_engineering

In [13]:
#d2
r.json()

[{'id': 202970,
  'gender': 'Male',
  'age': 32,
  'region_code': 28,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 41961.0,
  'days_associated': 34},
 {'id': 308042,
  'gender': 'Female',
  'age': 42,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 32138.0,
  'days_associated': 143},
 {'id': 199982,
  'gender': 'Female',
  'age': 24,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 42787.0,
  'days_associated': 47},
 {'id': 234637,
  'gender': 'Male',
  'age': 46,
  'region_code': 46,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 278},
 {'id': 368445,
  'gender': 'Female',
  'age': 49,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 31800.0,
  'days_associated': 262},
 {'id': 288933,
  'gender': 'Male',
  'age': 40,
  'region_code': 9,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 31309.0,
  'days_associated': 101},
 {'id': 285041,
  'gender': 'Female',
  'age': 24,
  'region_code': 46,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 31123.0,
  'days_associated': 42},
 {'id': 104561,
  'gender': 'Female',
  'age': 23,
  'region_code': 33,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': 'below_1_year',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 38539.0,
  'days_associated': 131},
 {'id': 297568,
  'gender': 'Female',
  'age': 70,
  'region_code': 7,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 1,
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 256},
 {'id': 344759,
  'gender': 'Male',
  'age': 35,
  'region_code': 38,
  'policy_sales_channel': 154,
  'driving_license': 1,
  'vehicle_age': 'between_1_2_years',
  'vehicle_damage': 0,
  'vehicle_prev_insured': 1,
  'health_annual_paid': 2630.0,
  'days_associated': 146}]

In [14]:
#d2
d2 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d2

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
0,202970,Male,32,28,154,1,below_1_year,1,0,41961.0,34
1,308042,Female,42,8,26,1,between_1_2_years,1,0,32138.0,143
2,199982,Female,24,8,26,1,below_1_year,1,0,42787.0,47
3,234637,Male,46,46,124,1,between_1_2_years,1,0,2630.0,278
4,368445,Female,49,28,124,1,between_1_2_years,0,1,31800.0,262
5,288933,Male,40,9,154,1,between_1_2_years,1,0,31309.0,101
6,285041,Female,24,46,152,1,below_1_year,0,1,31123.0,42
7,104561,Female,23,33,152,1,below_1_year,0,1,38539.0,131
8,297568,Female,70,7,26,1,between_1_2_years,1,0,2630.0,256
9,344759,Male,35,38,154,1,between_1_2_years,0,1,2630.0,146

In [15]:
df_test

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
202969,202970,Male,32,28,154,1,< 1 Year,Yes,0,41961.0,34
308041,308042,Female,42,8,26,1,1-2 Year,Yes,0,32138.0,143
199981,199982,Female,24,8,26,1,< 1 Year,Yes,0,42787.0,47
234636,234637,Male,46,46,124,1,1-2 Year,Yes,0,2630.0,278
368444,368445,Female,49,28,124,1,1-2 Year,No,1,31800.0,262
288932,288933,Male,40,9,154,1,1-2 Year,Yes,0,31309.0,101
285040,285041,Female,24,46,152,1,< 1 Year,No,1,31123.0,42
104560,104561,Female,23,33,152,1,< 1 Year,No,1,38539.0,131
297567,297568,Female,70,7,26,1,1-2 Year,Yes,0,2630.0,256
344758,344759,Male,35,38,154,1,1-2 Year,No,1,2630.0,146

In [ ]:
#data match, Feature engeneering ok!

## d3 - data_preparation

In [58]:
#d3
r.json()

[{'days_associated': 0.8131487889,
  'health_annual_paid': 0.5227044086,
  'age': 0.2307692308,
  'region_code': 0.1866375413,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.2099007173,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.6193771626,
  'health_annual_paid': 0.401212141,
  'age': 0.0,
  'region_code': 0.111678508,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.0570670445,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.8235294118,
  'health_annual_paid': 0.7270931732,
  'age': 0.4615384615,
  'region_code': 0.1866375413,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.1936258351,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.3944636678,
  'health_annual_paid': 0.1470505501,
  'age': 0.4307692308,
  'region_code': 0.1228900782,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.3534817818,
  'vehicle_prev_insured': 1},
 {'days_associated': 0.169550173,
  'health_annual_paid': 1.8420626994,
  'age': 0.0461538462,
  'region_code': 0.0957073783,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.0570670445,
  'vehicle_prev_insured': 1},
 {'days_associated': 0.6816608997,
  'health_annual_paid': 0.0557712613,
  'age': 0.4153846154,
  'region_code': 0.0787655458,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.1936258351,
  'vehicle_prev_insured': 1},
 {'days_associated': 0.7958477509,
  'health_annual_paid': 0.5935506423,
  'age': 0.0461538462,
  'region_code': 0.111678508,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.3534817818,
  'vehicle_prev_insured': 1},
 {'days_associated': 0.8858131488,
  'health_annual_paid': -1.6255606375,
  'age': 0.0307692308,
  'region_code': 0.1866375413,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.1936258351,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.5190311419,
  'health_annual_paid': -0.0344601784,
  'age': 0.8923076923,
  'region_code': 0.1866375413,
  'vehicle_damage': 1,
  'policy_sales_channel': 0.0049067359,
  'vehicle_prev_insured': 0},
 {'days_associated': 0.5190311419,
  'health_annual_paid': -0.0295702165,
  'age': 0.1384615385,
  'region_code': 0.1308252427,
  'vehicle_damage': 0,
  'policy_sales_channel': 0.3534817818,
  'vehicle_prev_insured': 1}]

In [57]:
#d3
d3 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d3

,days_associated,health_annual_paid,age,region_code,vehicle_damage,policy_sales_channel,vehicle_prev_insured
0,0.813149,0.522704,0.230769,0.186638,1,0.209901,0
1,0.619377,0.401212,0.000000,0.111679,1,0.057067,0
2,0.823529,0.727093,0.461538,0.186638,1,0.193626,0
3,0.394464,0.147051,0.430769,0.122890,0,0.353482,1
4,0.169550,1.842063,0.046154,0.095707,0,0.057067,1
5,0.681661,0.055771,0.415385,0.078766,0,0.193626,1
6,0.795848,0.593551,0.046154,0.111679,0,0.353482,1
7,0.885813,-1.625561,0.030769,0.186638,1,0.193626,0
8,0.519031,-0.034460,0.892308,0.186638,1,0.004907,0
9,0.519031,-0.029570,0.138462,0.130825,0,0.353482,1

In [51]:
#these data neetd to be like x_train (exported right before Feature Selection). Lets import to compare:
x_train = pd.read_csv('../data/x_train.csv', index_col=0)
x_train

,days_associated,health_annual_paid,age,region_code,vehicle_damage,policy_sales_channel,vehicle_prev_insured
338662,0.792388,-0.035741,0.030769,0.116003,0,0.353482,1
255559,0.543253,0.537840,0.030769,0.095707,0,0.353482,1
186485,0.391003,-0.377980,0.046154,0.122368,0,0.209901,0
192350,0.069204,0.074749,0.046154,0.186638,0,0.057067,1
59040,0.709343,-0.474091,0.061538,0.122368,0,0.353482,1
...,...,...,...,...,...,...,...
328338,0.972318,0.058857,0.523077,0.071869,1,0.209901,0
359877,0.152249,0.007163,0.030769,0.186638,1,0.353482,0
212867,0.889273,0.369718,0.230769,0.091418,1,0.193626,0
245992,0.688581,0.249740,0.476923,0.186638,1,0.193626,0
297836,0.795848,-1.625561,0.461538,0.122890,1,0.017459,0

In [ ]:
#100%, data match.

## get_prediction

In [ ]:
#data needed:
# - model, 
# - original_data,
# - test_data

In [120]:
#model
import pickle
model = pickle.load(open('models/xgbclassifier_model.pkl', 'rb'))
model

XGBClassifier(max_depth=5, missing=nan, n_estimators=300, n_jobs=-1)

In [121]:
#original_data (test_raw there)
d_test_raw = df_test.copy()
d_test_raw

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated
227470,227471,Female,33,6,152,1,< 1 Year,No,1,2630.0,245
126064,126065,Male,39,45,26,1,1-2 Year,Yes,0,38882.0,190
81259,81260,Female,71,28,26,1,1-2 Year,Yes,0,41219.0,144
56621,56622,Female,26,6,152,1,< 1 Year,No,1,37731.0,90
333560,333561,Male,22,15,152,1,< 1 Year,No,1,2630.0,57
84994,84995,Male,35,19,156,1,1-2 Year,Yes,0,2630.0,158
373745,373746,Female,22,16,152,1,< 1 Year,No,1,28776.0,70
134932,134933,Female,29,30,163,1,< 1 Year,Yes,0,36080.0,157
216641,216642,Male,63,15,160,1,1-2 Year,Yes,0,2630.0,75
187808,187809,Female,72,28,26,1,1-2 Year,No,1,50831.0,135

In [122]:
#test_data
d3

,days_associated,health_annual_paid,age,region_code,vehicle_damage,policy_sales_channel,vehicle_prev_insured
0,0.813149,0.522704,0.230769,0.186638,1,0.209901,0
1,0.619377,0.401212,0.000000,0.111679,1,0.057067,0
2,0.823529,0.727093,0.461538,0.186638,1,0.193626,0
3,0.394464,0.147051,0.430769,0.122890,0,0.353482,1
4,0.169550,1.842063,0.046154,0.095707,0,0.057067,1
5,0.681661,0.055771,0.415385,0.078766,0,0.193626,1
6,0.795848,0.593551,0.046154,0.111679,0,0.353482,1
7,0.885813,-1.625561,0.030769,0.186638,1,0.193626,0
8,0.519031,-0.034460,0.892308,0.186638,1,0.004907,0
9,0.519031,-0.029570,0.138462,0.130825,0,0.353482,1

In [123]:
#model prediction
pred = model.predict_proba(d3)
pred

array([[5.7128108e-01, 4.2871892e-01],
       [9.7336745e-01, 2.6632536e-02],
       [7.3738134e-01, 2.6261869e-01],
       [9.9958831e-01, 4.1168145e-04],
       [9.9981254e-01, 1.8743999e-04],
       [9.9918407e-01, 8.1592757e-04],
       [9.9981099e-01, 1.8899108e-04],
       [7.8471500e-01, 2.1528502e-01],
       [9.1752881e-01, 8.2471207e-02],
       [9.9959999e-01, 4.0002758e-04]], dtype=float32)

In [160]:
#join prediction into original data and sort
d_test_raw['score'] = pred[:, 1].tolist()
d_test_raw = d_test_raw.sort_values('score', ascending=False)
d_test_raw

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated,score
227470,227471,Female,33,6,152,1,< 1 Year,No,1,2630.0,245,0.428719
134932,134933,Female,29,30,163,1,< 1 Year,Yes,0,36080.0,157,0.262619
187808,187809,Female,72,28,26,1,1-2 Year,No,1,50831.0,135,0.215285
373745,373746,Female,22,16,152,1,< 1 Year,No,1,28776.0,70,0.082471
81259,81260,Female,71,28,26,1,1-2 Year,Yes,0,41219.0,144,0.026633
84994,84995,Male,35,19,156,1,1-2 Year,Yes,0,2630.0,158,0.000816
216641,216642,Male,63,15,160,1,1-2 Year,Yes,0,2630.0,75,0.000412
333560,333561,Male,22,15,152,1,< 1 Year,No,1,2630.0,57,0.000400
56621,56622,Female,26,6,152,1,< 1 Year,No,1,37731.0,90,0.000189
126064,126065,Male,39,45,26,1,1-2 Year,Yes,0,38882.0,190,0.000187

In [161]:
return_get_prediction = d_test_raw.to_json( orient= 'records', date_format = 'iso' )
return_get_prediction

'[{"id":227471,"gender":"Female","age":33,"region_code":6,"policy_sales_channel":152,"driving_license":1,"vehicle_age":"< 1 Year","vehicle_damage":"No","vehicle_prev_insured":1,"health_annual_paid":2630.0,"days_associated":245,"score":0.4287189245},{"id":134933,"gender":"Female","age":29,"region_code":30,"policy_sales_channel":163,"driving_license":1,"vehicle_age":"< 1 Year","vehicle_damage":"Yes","vehicle_prev_insured":0,"health_annual_paid":36080.0,"days_associated":157,"score":0.2626186907},{"id":187809,"gender":"Female","age":72,"region_code":28,"policy_sales_channel":26,"driving_license":1,"vehicle_age":"1-2 Year","vehicle_damage":"No","vehicle_prev_insured":1,"health_annual_paid":50831.0,"days_associated":135,"score":0.2152850181},{"id":373746,"gender":"Female","age":22,"region_code":16,"policy_sales_channel":152,"driving_license":1,"vehicle_age":"< 1 Year","vehicle_damage":"No","vehicle_prev_insured":1,"health_annual_paid":28776.0,"days_associated":70,"score":0.0824712068},{"id":81260,"gender":"Female","age":71,"region_code":28,"policy_sales_channel":26,"driving_license":1,"vehicle_age":"1-2 Year","vehicle_damage":"Yes","vehicle_prev_insured":0,"health_annual_paid":41219.0,"days_associated":144,"score":0.0266325362},{"id":84995,"gender":"Male","age":35,"region_code":19,"policy_sales_channel":156,"driving_license":1,"vehicle_age":"1-2 Year","vehicle_damage":"Yes","vehicle_prev_insured":0,"health_annual_paid":2630.0,"days_associated":158,"score":0.0008159276},{"id":216642,"gender":"Male","age":63,"region_code":15,"policy_sales_channel":160,"driving_license":1,"vehicle_age":"1-2 Year","vehicle_damage":"Yes","vehicle_prev_insured":0,"health_annual_paid":2630.0,"days_associated":75,"score":0.0004116815},{"id":333561,"gender":"Male","age":22,"region_code":15,"policy_sales_channel":152,"driving_license":1,"vehicle_age":"< 1 Year","vehicle_damage":"No","vehicle_prev_insured":1,"health_annual_paid":2630.0,"days_associated":57,"score":0.0004000276},{"id":56622,"gender":"Female","age":26,"region_code":6,"policy_sales_channel":152,"driving_license":1,"vehicle_age":"< 1 Year","vehicle_damage":"No","vehicle_prev_insured":1,"health_annual_paid":37731.0,"days_associated":90,"score":0.0001889911},{"id":126065,"gender":"Male","age":39,"region_code":45,"policy_sales_channel":26,"driving_license":1,"vehicle_age":"1-2 Year","vehicle_damage":"Yes","vehicle_prev_insured":0,"health_annual_paid":38882.0,"days_associated":190,"score":0.00018744}]'

In [ ]:
#the return above is returned to handle, that returns to API_test the correct dataframe with prediction
#bellow it's tested.

## df_response

In [155]:
#d4
r.json()

[{'id': 189740,
  'gender': 'Male',
  'age': 46,
  'region_code': 35,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 24374.0,
  'days_associated': 164,
  'score': 0.4381554127},
 {'id': 145176,
  'gender': 'Female',
  'age': 44,
  'region_code': 28,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 65212.0,
  'days_associated': 252,
  'score': 0.4238757491},
 {'id': 119310,
  'gender': 'Male',
  'age': 29,
  'region_code': 21,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 35840.0,
  'days_associated': 141,
  'score': 0.4015232027},
 {'id': 357230,
  'gender': 'Female',
  'age': 31,
  'region_code': 13,
  'policy_sales_channel': 157,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 255,
  'score': 0.3490488231},
 {'id': 271234,
  'gender': 'Female',
  'age': 37,
  'region_code': 39,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 25785.0,
  'days_associated': 66,
  'score': 0.3294946551},
 {'id': 76251,
  'gender': 'Male',
  'age': 38,
  'region_code': 6,
  'policy_sales_channel': 156,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 32057.0,
  'days_associated': 129,
  'score': 0.3265964091},
 {'id': 333161,
  'gender': 'Male',
  'age': 50,
  'region_code': 39,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '> 2 Years',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 35223.0,
  'days_associated': 256,
  'score': 0.3252075911},
 {'id': 257102,
  'gender': 'Female',
  'age': 51,
  'region_code': 28,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 29786.0,
  'days_associated': 124,
  'score': 0.3126497865},
 {'id': 293533,
  'gender': 'Male',
  'age': 45,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 34579.0,
  'days_associated': 94,
  'score': 0.3094650209},
 {'id': 85845,
  'gender': 'Male',
  'age': 44,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '> 2 Years',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 40461.0,
  'days_associated': 136,
  'score': 0.3049837947},
 {'id': 272387,
  'gender': 'Male',
  'age': 54,
  'region_code': 8,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 55742.0,
  'days_associated': 50,
  'score': 0.2695246935},
 {'id': 207475,
  'gender': 'Male',
  'age': 55,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 24070.0,
  'days_associated': 243,
  'score': 0.2484253943},
 {'id': 303418,
  'gender': 'Male',
  'age': 41,
  'region_code': 20,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 42,
  'score': 0.2454013675},
 {'id': 1149,
  'gender': 'Male',
  'age': 55,
  'region_code': 41,
  'policy_sales_channel': 136,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 22757.0,
  'days_associated': 77,
  'score': 0.200290814},
 {'id': 349978,
  'gender': 'Female',
  'age': 64,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 52045.0,
  'days_associated': 47,
  'score': 0.1791662872},
 {'id': 341420,
  'gender': 'Female',
  'age': 20,
  'region_code': 50,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 175,
  'score': 0.0569065623},
 {'id': 329027,
  'gender': 'Male',
  'age': 20,
  'region_code': 16,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 0,
  'health_annual_paid': 2630.0,
  'days_associated': 170,
  'score': 0.0375142582},
 {'id': 340041,
  'gender': 'Female',
  'age': 25,
  'region_code': 11,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 28857.0,
  'days_associated': 83,
  'score': 0.018319739},
 {'id': 336616,
  'gender': 'Male',
  'age': 54,
  'region_code': 28,
  'policy_sales_channel': 48,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'Yes',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 31032.0,
  'days_associated': 88,
  'score': 0.0021221803},
 {'id': 58859,
  'gender': 'Female',
  'age': 22,
  'region_code': 37,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 36680.0,
  'days_associated': 46,
  'score': 0.0017292043},
 {'id': 109099,
  'gender': 'Female',
  'age': 44,
  'region_code': 48,
  'policy_sales_channel': 15,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 2630.0,
  'days_associated': 277,
  'score': 0.001230782},
 {'id': 194030,
  'gender': 'Female',
  'age': 39,
  'region_code': 49,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 32005.0,
  'days_associated': 147,
  'score': 0.001161759},
 {'id': 361316,
  'gender': 'Male',
  'age': 44,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 19669.0,
  'days_associated': 166,
  'score': 0.0007124195},
 {'id': 171052,
  'gender': 'Female',
  'age': 24,
  'region_code': 37,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 2630.0,
  'days_associated': 191,
  'score': 0.0006450563},
 {'id': 58727,
  'gender': 'Female',
  'age': 28,
  'region_code': 19,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 34465.0,
  'days_associated': 220,
  'score': 0.0005156568},
 {'id': 144316,
  'gender': 'Male',
  'age': 27,
  'region_code': 8,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 28491.0,
  'days_associated': 209,
  'score': 0.0004076446},
 {'id': 79329,
  'gender': 'Female',
  'age': 26,
  'region_code': 46,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 40178.0,
  'days_associated': 192,
  'score': 0.00034322},
 {'id': 71297,
  'gender': 'Female',
  'age': 24,
  'region_code': 28,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 63762.0,
  'days_associated': 42,
  'score': 0.0003412998},
 {'id': 124312,
  'gender': 'Male',
  'age': 20,
  'region_code': 5,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 2630.0,
  'days_associated': 16,
  'score': 0.0003145756},
 {'id': 152449,
  'gender': 'Female',
  'age': 38,
  'region_code': 30,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 27393.0,
  'days_associated': 200,
  'score': 0.0003113443},
 {'id': 303664,
  'gender': 'Male',
  'age': 25,
  'region_code': 3,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 19222.0,
  'days_associated': 76,
  'score': 0.0002857004},
 {'id': 122736,
  'gender': 'Female',
  'age': 54,
  'region_code': 24,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 60122.0,
  'days_associated': 271,
  'score': 0.0002732281},
 {'id': 375368,
  'gender': 'Male',
  'age': 21,
  'region_code': 46,
  'policy_sales_channel': 160,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 35397.0,
  'days_associated': 249,
  'score': 0.0002564931},
 {'id': 139021,
  'gender': 'Female',
  'age': 22,
  'region_code': 35,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 31964.0,
  'days_associated': 68,
  'score': 0.0002380621},
 {'id': 108279,
  'gender': 'Male',
  'age': 24,
  'region_code': 15,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 24357.0,
  'days_associated': 139,
  'score': 0.0002375678},
 {'id': 67875,
  'gender': 'Female',
  'age': 24,
  'region_code': 15,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 41200.0,
  'days_associated': 236,
  'score': 0.0002278744},
 {'id': 140370,
  'gender': 'Female',
  'age': 22,
  'region_code': 30,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 38246.0,
  'days_associated': 248,
  'score': 0.0002109697},
 {'id': 221479,
  'gender': 'Female',
  'age': 23,
  'region_code': 28,
  'policy_sales_channel': 152,
  'driving_license': 1,
  'vehicle_age': '< 1 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 46846.0,
  'days_associated': 127,
  'score': 0.0002004455},
 {'id': 316749,
  'gender': 'Male',
  'age': 74,
  'region_code': 28,
  'policy_sales_channel': 124,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 39557.0,
  'days_associated': 181,
  'score': 0.0001833949},
 {'id': 146624,
  'gender': 'Male',
  'age': 78,
  'region_code': 37,
  'policy_sales_channel': 26,
  'driving_license': 1,
  'vehicle_age': '1-2 Year',
  'vehicle_damage': 'No',
  'vehicle_prev_insured': 1,
  'health_annual_paid': 17297.0,
  'days_associated': 189,
  'score': 0.0001121862}]

In [248]:
d4 = pd.DataFrame( r.json(), columns = r.json()[0].keys() )
d4.head(30)

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,vehicle_prev_insured,health_annual_paid,days_associated,score
0,189740,Male,46,35,26,1,1-2 Year,Yes,0,24374.0,164,0.438155
1,145176,Female,44,28,26,1,1-2 Year,Yes,0,65212.0,252,0.423876
2,119310,Male,29,21,26,1,< 1 Year,Yes,0,35840.0,141,0.401523
3,357230,Female,31,13,157,1,1-2 Year,Yes,0,2630.0,255,0.349049
4,271234,Female,37,39,124,1,1-2 Year,Yes,0,25785.0,66,0.329495
5,76251,Male,38,6,156,1,1-2 Year,Yes,0,32057.0,129,0.326596
6,333161,Male,50,39,26,1,> 2 Years,Yes,0,35223.0,256,0.325208
7,257102,Female,51,28,26,1,1-2 Year,Yes,0,29786.0,124,0.312650
8,293533,Male,45,28,124,1,1-2 Year,Yes,0,34579.0,94,0.309465
9,85845,Male,44,28,124,1,> 2 Years,Yes,0,40461.0,136,0.304984
10,272387,Male,54,8,26,1,1-2 Year,Yes,0,55742.0,50,0.269525
11,207475,Male,55,28,124,1,1-2 Year,Yes,0,24070.0,243,0.248425
12,303418,Male,41,20,124,1,1-2 Year,Yes,0,2630.0,42,0.245401
13,1149,Male,55,41,136,1,1-2 Year,Yes,0,22757.0,77,0.200291
14,349978,Female,64,28,124,1,1-2 Year,Yes,0,52045.0,47,0.179166
15,341420,Female,20,50,124,1,1-2 Year,Yes,0,2630.0,175,0.056907
16,329027,Male,20,16,160,1,< 1 Year,Yes,0,2630.0,170,0.037514
17,340041,Female,25,11,152,1,< 1 Year,Yes,1,28857.0,83,0.018320
18,336616,Male,54,28,48,1,1-2 Year,Yes,1,31032.0,88,0.002122
19,58859,Female,22,37,152,1,< 1 Year,No,1,36680.0,46,0.001729
20,109099,Female,44,48,15,1,1-2 Year,No,1,2630.0,277,0.001231
21,194030,Female,39,49,124,1,1-2 Year,No,1,32005.0,147,0.001162
22,361316,Male,44,28,124,1,1-2 Year,No,1,19669.0,166,0.000712
23,171052,Female,24,37,160,1,< 1 Year,No,1,2630.0,191,0.000645
24,58727,Female,28,19,152,1,< 1 Year,No,1,34465.0,220,0.000516
25,144316,Male,27,8,160,1,< 1 Year,No,1,28491.0,209,0.000408
26,79329,Female,26,46,152,1,< 1 Year,No,1,40178.0,192,0.000343
27,71297,Female,24,28,152,1,< 1 Year,No,1,63762.0,42,0.000341
28,124312,Male,20,5,160,1,< 1 Year,No,1,2630.0,16,0.000315
29,152449,Female,38,30,152,1,1-2 Year,No,1,27393.0,200,0.000311

In [203]:
#cria Dataframe
dict1 = {
    'name': ['Norton', 'João'],
    'last_name': ['Vanz', 'Silva']}
df1 = pd.DataFrame(dict1)
df1

     name last_name
0  Norton      Vanz
1    João     Silva

In [221]:
id(df1)

140238396513152